* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* bom para elementos que passam da altura e lagura default do html, sendo assim
  essa propriedade diz que os elementos irão respeitar o limite de sua altura e largura. */
  box-sizing: border-box;
}

.main-container {
  min-height: 70vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}